<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My recipe app</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link"  [routerLink]="['recipe']">Recipes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
        <a class="nav-link" [routerLink]="['auth']">Authentication</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['shoppinglist']">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item mr-3" style="cursor: pointer;" *ngIf="isAuthenticated">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
      <li class="dropdown mr-3" appDropDown (click)="openFunc()" *ngIf="isAuthenticated">
        <a class="dropdown-toggle nav-link"
         style="cursor: pointer;" 
         role="button">Manage <span class="caret"></span></a>
        <ul class="dropdown-menu" style="left: -14px;" [ngClass]="{show:openClass}">
          <li class="dropdown-item" style="cursor: pointer;" (click)="saveRecipe()"><a>Save Data</a></li>
          <li class="dropdown-item" style="cursor: pointer;" *ngIf="false" (click)="fetchRecipe()"><a>Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
